* {
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
    font-family: Nunito, sans-serif;
  }
  body {
    background-color: #e0e0e0;
  }
  img {
    width: 100%;
  }
  .heading {
    padding: 1rem 0rem 0.5rem 0rem;
    letter-spacing: 5px;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: Nunito, sans-serif;
  }
  .carousel-item {
    font-family: Nunito, sans-serif;
    background-color: grey;
    height: 32rem !important;
    position: relative;
    font-weight: 200;
    background: no-repeat center;
    background-size: contain;
  }
  
  
  div.container.recentActivitiesCarousel {
    padding: 0rem 0rem;
    font-size: 1rem;
    position: absolute;
    bottom: 7%;
    right: 0;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0.5rem 0.5rem 1rem rgba(255,255,255, 0.7);
  }
  div.container.recentActivitiesCarousel h3 {
    font-size: 1.5rem;
    font-weight: 100;
  }
  .xyz{
    display: inline-block;
  }
  .blogHeading{
    padding: 1.5rem 0rem 1rem 0rem;
    margin: 0;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: Nunito, sans-serif;
    letter-spacing: 10px;
  }
  .recentNewslettersHeading{
    margin: 0;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: Nunito, sans-serif;
    letter-spacing: 10px;
    padding: 1rem 0rem 0.5rem 0rem;
  }
  div.card-deck{
    padding: 1rem 3rem;
    font-family: Nunito, sans-serif;
  }
  h5.card-title{
    color: rgb(53, 58, 65);
  
    font-size: 1.25rem;
    font-weight: 900;
  }
  span.blogDate{
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: rgba(53, 58, 65, 0.8);
  }
  p.cardText{
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
  }
  .card-deck button{
    color: rgb(53, 58, 65);
    background-image: linear-gradient(to right, #fec301 0%, #fee180 100%);
    border: none;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
    font-weight: 400;
    padding: 0.25rem .5rem;
    border-radius: 0.5rem;
  }
  .card-deck button:hover{
    border: none;
    color: rgb(53, 58, 65);
    background-image: linear-gradient(to right, #fee180 0%, #fec301 100%);
  }
  div.card{
    transition: transform 1s,box-shadow 0.5s;
    border-radius: 1rem;
    font-family: Nunito, sans-serif;
  }
  div.card:hover{
    transform: translateY(-0.75rem);
    box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.15);
  }
  
.card-img-top{
    height: 18rem !important;
}
  
  
  section.recent3Newsletters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;
    font-family: Nunito, sans-serif;
  }
  div.recentNewsletters {
    width: 100%;
    max-width: 98rem;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 0 1.4rem 8em rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    transition: transform 500ms ease-in;
  }
  
  /* div.recentNewsletters:hover {
      transform: translateY(-0.4rem);
    } */
  .newsletter__Img {
    min-width: 20rem;
    max-width: 20rem;
    height: 20rem;
    transform: translateX(-4.5rem);
    position: relative;
  }
  .newsletter__Img img {
    box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 15rem !important;
    object-fit: fill;
    display: block;
    border-radius: 0.8rem;
  }
  div.date span {
    display: block;
    color: rgba(53, 58, 65, 0.7);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.2rem 0;
  }
  div h2.title {
    font-size: 2.25rem;
    text-transform: uppercase;
    margin: 1rem 0 2rem;
    color: #fed136;
  }
  div p.newsletter__Description {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 1.5rem;
  }
  div.modal_header {
    background-color: #fed136;
    color: rgb(53, 58, 65);
    text-transform: uppercase;
  }
   button.modal-btn {
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.7rem 1.5rem;
    color: rgb(53, 58, 65);
    background-image: linear-gradient(to right, #fec301 0%, #fee180 100%);
    border: none;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
    font-weight: 600;
    transition-property: linear-gradient;
    transition-duration: 1s;
    border-radius: 0.5rem;
  }
   button.modal-btn:hover {
    background-image: linear-gradient(to right, #fee180 0%, #fec301 100%);
  }
  .modal_header button {
    background-color: rgb(53, 58, 65);
    transition: all 1s ease-out;
  }
  .modal_header button:hover {
    background-color: white;
    color: rgb(53, 58, 65);
    border: none;
  };
  }
  
  /* Media Queries */
  @media screen and (max-width: 1068px) {
    div.recentNewsletters {
      max-width: 80rem;
    }
    div.newsletter__Img {
      max-width: 16rem;
      min-width: 16rem;
    }
  }
  @media screen and (max-width: 868px) {
    html{
      font-size: 14px;
    }
    div.recentNewsletters {
      margin-top: 1rem;
      padding: 4rem 2rem;
      flex-direction: column;
    }
    div.newsletter__Img {
      max-width: 100%;
      min-width: 100%;
      padding: ;
      transform: translate(0, -5.5rem);
    }
  }
  
    .card-title-new{
      color: #fed136;
      font-family: Nunito, sans-serif;
      font-size: 2rem;
    }
  
    .modal-btn-new {
      text-transform: uppercase;
      font-size: 0.9rem;
      margin: 0.5rem;
      padding: 0.7rem 1.5rem;
      color: rgb(53, 58, 65);
      background-image: linear-gradient(to right, #fec301 0%, #fee180 100%);
      border: none;
      box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
      font-weight: 600;
      transition-property: linear-gradient;
      transition-duration: 1s;
      border-radius: 0.5rem;
    }
  
  
     .navbar_13_12 {
      overflow: hidden;
      background-color: #212529;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;
    }
    
    .navbar_13_12 a {
      float: left;
      display: block;
      color: #eeeeee;
      text-align: center;
      padding: 15px 18px;
      text-decoration: none;
      font-size: 18px;
      
    }
    
    .navbar_13_12 a:hover {
      color: #1c87c9;
    }
    .topbar_{
      margin-left: 55rem;
    }
    
    .carousel_img{
      width:35%;
    }
  
    .calendar_icon{
      width:2rem;
    }
  
  
  
  /*--------------------------------------------------------------
    More Services
  --------------------------------------------------------------*/
  .more-services img {
    border-radius: 0;
  }
  .more-services .card {
    border: 0;
    text-align: ceneter;
  }
  .more-services .card-body {
    -moz-text-align-last: center;
    text-align-last: center;
  }
  .more-services .card-title a {
    font-weight: 600;
    font-size: 18px;
    color: #334240;
    transition: ease-in-out 0.3s;
  }
  .more-services .card-title a:hover {
    color: #fee180;
  }
  .more-services .btn {
    border-radius: 50px;
    padding: 4px 30px 6px 30px;
    border: 2px solid #fee180;
  }
  .more-services .btn:hover {
    color: rgb(53, 58, 65);
        background-image: linear-gradient(to right, #fec301 0%, #fee180 100%);
  }
  